/* Write your CSS here */

.bg-container {
  background-color: #ffc2a0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-content-container {
  padding: 20px;
  display: flex;
  background-color: white;
  border-radius: 14px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  width: 90%;
  height: 90%;
  margin: 20px;
}
.heading {
  color: #ff8542;
  font-size: 36px;
}

.todo-container {
  display: flex;
  flex-direction: column;
  padding: 40px;
  width: 90%;
}
